*~
*.cache
*.log
*.status
backends/Makefile
backends/man
backends/texi
bin/jw
bin/Makefile
bin/sgmldiff
doc/HTML/Makefile
doc/Makefile
doc/man/Makefile
doc/refentry/Makefile
doc/version
docbook-utils.spec
frontends/docbook
frontends/Makefile
helpers/Makefile
Makefile
